body {
	margin: 0;
	padding: 0;
	font-family: 'rm_pro';
	background-color: #ededed;
	line-height: calc(18px * 1.5);
	text-align: left;
  	font-size: 18px;
}

.container { display: flex; }

.cover {
	width: 100%;
	height: 90vh;
	padding: 0;
	text-align: center;
	background-color: #d0d0d0;
	background: url('src/img/cover_1500x1000.jpg') center center no-repeat;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: white;
    margin-bottom: 0!important;
}

.brick {
	width: 100%;
	padding: 6vh;
	color: #575756;
	background-color: white;
}

p {
	max-width: 60vmax;
	min-width: 288px;
}

h1 { font-size: 4vw; line-height: calc(4vw * 1.2);}

a {
	color: #009fe3;
	text-decoration: none;
	border-bottom: 0.005em #009fe3 solid;
}

a:hover { color: #e71e6e; border-bottom: 0.005em #e71e6e solid; }

.cover, .brick {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1.666666vmax;
}


/* Font */
@font-face {
    font-family: 'rm_pro';
    src: url('src/font/rmpro-light-webfont.eot');
    src: url('src/font/rmpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('src/font/rmpro-light-webfont.woff2') format('woff2'),
         url('src/font/rmpro-light-webfont.woff') format('woff'),
         url('src/font/rmpro-light-webfont.ttf') format('truetype'),
         url('src/font/rmpro-light-webfont.svg#rm_proregular') format('svg');
    font-weight: 200;
    font-style: normal;
}

@media (min-width: 400px) and (max-width: 1000px) {
  :root {
    font-size: calc( 18px + (24 - 18) * ( (100vw - 400px) / ( 1000 - 400) ));
  }
}
@media (min-width: 1000px) {
  :root {
    font-size: 24px;
  }
}
@media (min-width: 400px) and (max-width: 1000px) {
  .heading {
    font-size: calc( 40px + (150 - 40) * ( (100vw - 400px) / ( 1000 - 400) ));
  }
}
@media (min-width: 1000px) {
  .heading {
    font-size: 150px;
  }
}

h1 {
  font-size: 40px;
}